.minimun-rating{
    display:flex;
    flex-direction:column;
    margin-left:20px
}

.minimun-rating>p{
    text-align:center;
    margin: 0
}

input[type=search]{
    border: 1px solid black;
    border-radius: 15px 0 0 15px;
}

.search{
    border: 1px solid black;
    border-radius: 0 15px 15px 0;
}

.searchContainer{
  
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    width: max-content;
    margin: auto;
    overflow: hidden;
    margin-top: 50px;

}
.searchContainer input,.searchContainer button{
    padding: 15px;
}